DB_USER=app
DB_PASS=123qwe
DB_HOST=db
DB_NAME=movies_db
DB_TEST_NAME=auth_sprint_test
DB_PORT=5432
JWT_SECRET_KEY=iamthedoctor
APP_SECRET_KEY=wgceroewnrgnclalrgf
DB_URI=postgresql://app:123qwe@db/movies_db

REDIS_HOST=redis
REDIS_PORT=6379


SERVICE_HOST=api
SERVICE_PORT=5000
SERVICE_URL=http://api:5000/