ELASTIC_PORT=9200
REDIS_PORT=6379
ELASTIC_HOST=host
LOGGING_LEVEL=INFO
REDIS_HOST=host
SERVICE_HOST=host
SERVICE_PORT=8000

ELASTIC_URL=http://x.x.x.x:9200
REDIS_URL=http://x.x.x.x:6379
SERVICE_URL=http://x.x.x.x:8000